 /* .u-section-1 .u-sheet-1 {
  min-height: 783px;
}

.u-section-1 .u-image-1 {
  height: 500px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-1 .u-metadata-1 {
  margin: 13px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 -14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-1 .u-image-1 {
    height: 460px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1 .u-image-1 {
    height: 326px;
    margin-right: initial;
    margin-left: initial;
  }
} */

/* header */

.header {
  /* background-color: #fff; */
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  /* float: left; */
  width: 100%;
  z-index: 3;
  overflow:auto;
}



.header ul {
  margin-top: -70px;
  /* padding: 0; */
  list-style: none;
  overflow: hidden;
  /* background-color: #fff; */
}

.header li a {
  display: block;
  padding-top: 15px;
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
  font-family: Open Sans,sans-serif;
}

/* .header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
} */


/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-ight .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 30px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header  li a {
    padding: 5px 15px;
  }

  .header  li a:hover {
    color: #d63b42;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }


  .header .menu-icon {
    display: none;
  }
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}
.site-logo {
  display: inline-block;
  padding-top: 25px;
  padding-left: 25px;
}
.site-title {
  display: inline-block;
  margin: 0px;
}

/* #menu-antras_projektas {
  padding-top: 20px;
}

.site-title {
  display: inline-flex;
  vertical-align: top;
  margin: 0px !important;
} */